<!DOCTYPE html>
	<head>
		<title>{{ title }}</title>
	</head>
	<body>
		<h1>Plant Watering Control Center</h1>
		<h2> The date and time on the server is: {{ time }}</h2>
		<br>
		<h3>{{msg}}</h3>
		<h4> Control Buttons </h4>
		<a href="/water"><button>Manual Watering</a>
		<a href="/auto/water/on"><button> Turn ON Auto Watering </a>
		<a href="/auto/water/off"><button> Turn OFF Auto Watering </a>
		<a href="/soil"><button>Check Soil Status</a>
		<a href="/last"><button>Check Last Watered</a>
		<a href="/temp"><button>Check Temperature and Humidity</a>
	</body>
</html>
